legacy-peer-deps=true
enable-pre-post-scripts=true
node-linker=hoisted
symlink=false
use-node-version=20.11.0
enable-pre-post-scripts=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true