@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ghost-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: theme("colors.brand.gold");
  paint-order: stroke fill;
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-reverse {
  animation: marquee-reverse 80s linear infinite;
}
